RewriteEngine On

#application/home.php

#RewriteRule ^$ /

#/application/home.php
#/application/monsters/index.php

#/application/weapons/index.php
#/application/weapons/display_by_cat.php?field=$1&value=$2

# RewriteRule ^cat-(.*).php$   /display_by_cat.php?field=$1&value=$2 [L]
RewriteRule 
#/application/armors/index.php

