h1
{
	font-family: Audiowide;
	font-size: 25px;
	border: solid 3px #252525;
	border-radius: 10px;
	padding: 1px 6px;
}

table
{
	margin-top: 4vh;
}

tr, td
{
	padding: 1px 4px;
}

td, td a
{
	font-family: Abel;
	font-size: 20px;
	color: #252525;
	text-align: center;
}

tr#table_label
{
	background-color: #252525;
}

tr#table_label td
{
	color: #e5e5e5;
	font-weight: bold;
}

tr#table_label td img
{
	vertical-align: bottom;
}

tr#table_label td button
{
	font-family: Abel;
	font-size: 20px;
	font-weight: bold;
	color: #e5e5e5;
	background-color: #252525;
	border: solid 0px #252525;
}

tr.table_data td
{
	border: solid 2px #252525;
}

tr.table_data td img
{
	vertical-align: bottom;
}

tr.table_data td,
tr.table_data td a
{
	transition-duration: 0.18s;
}

tr.table_data:hover td
{
	background-color: #252525;
	color: #e5e5e5;
	transition-duration: 0.18s;
}

tr.table_data:hover td a
{
	color: #e5e5e5;
	transition-duration: 0.18s;
}