@font-face
{
	font-family: Abel;
	src: url("Abel-Regular.ttf");
}

@font-face
{
	font-family: Audiowide;
	src: url("Audiowide-Regular.ttf");
}

html
{
	background-image: url('../images/pctr/background.jpg');
	background-attachment: fixed;
}

html::-webkit-scrollbar
{
	width: 8px;
}

/* html::-webkit-scrollbar-button
{
	background-color: #4860cf;
} */

html::-webkit-scrollbar-thumb
{
	background-color: #252525;
	border-radius: 50px 0px 0px 50px;
}
	
html::-webkit-scrollbar-track
{
	background-color: #e5e5e5e5;
}

html, body
{
	margin: 0px;
}

body, main
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header
{
	background-color: #252525;
	width: 100%;
}

a
{
	text-decoration: none;
	font-family: Abel;
	font-size: 20px;
	color: #e5e5e5;
}

header ul,
article div#pctrs
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

header ul
{
	margin-top: 15px;
	margin-bottom: 15px;
	gap: 40px;
}

header ul li
{
	list-style: url("../images/ui/zenny.svg");
}

header ul li a
{
	border-radius: 8px;
	padding: 1px 6px;
	transition-duration: 0.18s;
}

header ul li:hover a
{
	color: #252525;
	background-color: #e5e5e5;
	transition-duration: 0.18s;
}

header ul li a
{
	vertical-align: super;
}

header ul li#home
{
	position: absolute;
	top: 15px;
	left: 10px;
}