h1
{
	font-family: Audiowide;
	font-size: 25px;
	text-align: center;
	color: #252525;
	background-color: #e5e5e5c0;
	border: solid 3px #252525;
	border-radius: 10px;
	margin-top: 8vh;
	margin-bottom: 20vh;
	padding: 1px 6px;
}

div#nav_div
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e5e5e5e5;
	border: solid 1px #252525;
	border-radius: 10px;
	padding: 12px;
}

div#nav_div p,
div#nav_div a
{
	font-size: 20px;
	font-family: Abel;
}

div#nav_div p
{
	margin-top: 0px;
}

div#nav_div a
{
	color: #252525;
	border-radius: 8px;
	padding: 1px 6px;
	transition-duration: 0.18s;
}

div#nav_div a:hover
{
	color: #e5e5e5;
	background-color: #252525;
	transition-duration: 0.18s;
}

div#nav_div div#link
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
}