h1
{
	font-family: Audiowide;
	font-size: 25px;
	color: #252525;
	background-color: #e5e5e5c0;
	border: solid 3px #252525;
	border-radius: 10px;
	padding: 1px 6px;
}

article
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

article div#pctrs
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

article div#filter
{
	background-color: #e5e5e5e5;
	border: solid 1px #252525;
	border-radius: 10px;
	margin-bottom: 4vh;
	padding: 10px;
}

article div#filter form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

article div#filter form div#fil_inputs
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 15px;
}

article div#filter form input,
article div#filter form select,
article div#filter form label
{
	font-size: 18px;
	font-family: Abel;
	border-radius: 8px;
	outline: none;
}

article div#filter form input,
article div#filter form select
{
	border: solid 1px #252525;
}

article div#pctrs figure
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #a0a0a0c0;
	border: 1px solid #252525;
	border-radius: 10px;
	width: 200px;
	margin: 20px;
}

article div#pctrs figure figcaption
{
	font-size: 18px;
	font-family: Abel;
	text-align: center;
	background-color: #e5e5e5c0;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
}

article div#pctrs figure img
{
	margin: 20px;
}

figcaption a
{
	color: #252525;
}

article div#pctrs figure:hover figcaption
{
	background-color: #80808090;
	transition-duration: 0.18s;
}

article div#pctrs figure:hover figcaption a
{
	color: #e5e5e5;
	transition-duration: 0.18s;
}