h1
{
	font-family: Audiowide;
	font-size: 25px;
	color: #252525;
	background-color: #e5e5e5c0;
	border: solid 3px #252525;
	border-radius: 10px;
	padding: 1px 6px;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

h2
{
	font-family: Abel;
	font-size: 22px;
	margin: 10px;
}

h3, p
{
	font-family: Abel;
	font-size: 20px;
	margin: 5px;
}

p
{
	margin: 0px;
}

div#monster_swap
{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 10px;
}

div#monster_swap a button
{
	font-family: Abel;
	font-size: 18px;
	background-color: #e5e5e5c0;
	border: solid 2px #252525;
	transition-duration: 0.18s;
}

div#monster_swap a:hover button
{
	color: #e5e5e5;
	background-color: #252525;
	border-color: #e5e5e5c0;
	transition-duration: 0.18s;
}

div#monster_swap a button#btn-prev-monster
{
	border-radius: 8px 0px 0px 8px;
}

div#monster_swap a button#btn-next-monster
{
	border-radius: 0px 8px 8px 0px;
}

div#master
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 15vh;
	margin-top: 4vh;
}

div#m_info_box,
div#m_info_box div#infos,
div#m_info_box div#weakness,
div#m_info_box div.form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#m_info_box
{
	position: sticky;
	background-color: #e5e5e5e5;
	border: solid 1px #252525;
	border-radius: 10px;
	padding: 10px;
	top: 3vh;
	gap: 25px;
}

div#infos img,
div#weakness img
{
	vertical-align: -22%;
}

div.elem_n_blight
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 15px;
}

td, td a
{
	font-family: Abel;
	font-size: 20px;
	color: #252525;
	text-align: center;
}

td
{
	border: solid 2px #252525;
}

tr#table_label
{
	background-color: #252525;
	
}

tr#table_label td
{
	font-weight: bold;
	color: #e5e5e5;
	padding: 1px 8px;
}

tr.table_data
{
	background-color: #e5e5e5e5;
} 

td.td-element1 p
{
	margin: 0px;
}