article
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

article div#pctrs
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

article div#filter form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

article div#filter form div#fil_inputs
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 15px;
}

article div#filter form input,
article div#filter form select,
article div#filter form label
{
	font-size: 18px;
	font-family: Abel;
	border-radius: 8px;
	outline: none;
}

article div#filter form input,
article div#filter form select
{
	border: solid 1px #252525;
}

article div#pctrs figure
{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	width: 200px;
	margin: 20px;
}

article div#pctrs figure figcaption
{
	background-color: #80808091;
	text-align: center;
	font-size: 18px;
	font-family: Abel;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
}