h1
{
	font-family: Audiowide;
	font-size: 25px;
	border: solid 3px #252525;
	border-radius: 10px;
	padding: 1px 6px;
	margin-bottom: 40px;
}

form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px
}

form div#fil_inputs
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 15px;
}

form label,
form input,
form select
{
	font-size: 18px;
	font-family: Abel;
	border-radius: 8px;
	outline: none;
}

form input,
form select
{
	border: solid 1px #252525;
}

table#main
{
	margin-top: 4vh;
}

td, td a
{
	font-family: Abel;
	font-size: 20px;
	color: #252525;
	text-align: center;
}

tr#table_label
{
	background-color: #252525;
	
}

tr#table_label td
{
	font-weight: bold;
	color: #e5e5e5;
	padding: 1px 8px;
}

tr.data td
{
	border: solid 2px #252525;
}

td.td-element1
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

td.td-element1 p
{
	margin: 0px;
}

td.gem_slot img
{
	vertical-align: inherit;
}